@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

#container {
    margin: 16px;
}

.battleTeamMembersDisplay {
    display: flex;
    justify-content: space-between;
}

.battleTeamMembersDisplayItem {
    display: flex;
    width: 30%;

    border: 1px;
    border-style: solid;
}

.battleTeamMembersDisplayItem .pokemonImage {
    width: 40%;
}

.battleTeamMembersDisplayItem .pokemonImage img {
    width: 90%;
}

.battleTeamMembersDisplayItem .pokemonDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
}

.battleTeamMembersDisplayItem .pokemonDetail .pokemonName {
    font-size: 1.5em;
    font-weight: 900;
}
